* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #f4f8fa;
  --bg-color: #00082F;

  --primary-color: #4263EB;
  --secondary-color: #364FC7;

  font-size: 62.5%;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;

  font-size: 1.6rem;
}

.container {
  text-align: center;
  width: 30.0rem;
  margin: 6.0rem auto;
}

img {
  width: 100vw;
}

img.perfil {
  border-radius: 50%;
  width: 10.0rem;
  height: 10.0rem;
  padding: 3.7px;
  border: var(--primary-color) solid .3rem;
  cursor: not-allowed;
}

h1 {
  font-size: 3.2rem;
  margin-top: 2.4rem;
  margin-bottom: .8rem;
}

.username {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  opacity: 0.8;
  font-size: 1.8rem;
  transition: opacity 400ms;
  cursor: pointer;
}

.username:hover {
  opacity:1;
}

ul {
  list-style: none;
  margin: 4.8rem 0;
}

ul li a {
  height: 5.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;

  margin-bottom: 1.6rem;
  border-radius: .6rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  transition: background 400ms;
}

a {
  text-decoration: none;
}

ul li a:hover {
  background: var(--secondary-color);
}

footer {
  font-family: 'Pacifico', cursive;
  font-weight: 500;
  font-size: 1.5rem;
  opacity: 0.6;
  color: rgb(117, 151, 157);
  transition: opacity 400ms;
}

footer:hover {
  opacity:1;
}

footer a {
  font-family: 'Pacifico', cursive;
  color: var(--text-color);
  font-weight: normal;
}

.container img {
  animation: fromTop .7s .2s backwards;
}

.card ul, h1, p, footer {
  animation: fromBottom .7s backwards;
}

.card ul:nth-child(1) {
  animation-delay: 0;
}

.card ul:nth-child(2) {
  animation-delay: .3s;
}

main section:nth-child(3) {
  animation-delay: .6s;
}

@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromBottom {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}